<!DOCTYPE html>
<html>
    <head>
        <title>Shows List</title>
    </head>

    <body>
        <h1>Shows List</h1>
        {% if shows_list %}
            <ul>
                {% for show in shows_list %}
                <li><a href="{{ show.show_name }}">{{ show.show_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            No shows currently in database!
        {% endif %}
        <a href="/rango/category/{{ category_name_url }}/add_page/">Random Button</a>
    </body>
</html>