{% extends 'rango/base.html' %}

{% block body_block %}

<div class="hero-unit">
    <h1>Ready for update</h1>
    <p>Find, Add, and Get live updates of the latest episodes.</p>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Top Five Shows</h2>
        {% if show_list %}
        <ul>
            {% for show in show_list %}
            <li><strong><a href="/rango/show/{{ show.url }}">{{ show.show_name }}</a></strong></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No shows are present.</strong>
        {% endif %}

    </div>
    
    <div class="span6">
        <h2>Top Five Episodes</h2>
        {% if episodes %}
        <ul>
            {% for episode in episodes %}
            <li><strong><a href="/rango/{{ episode.show.url}}">{{ episode.show.show_name }} </a> - {{ episode.season_episode }}</strong></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}
    </div>

</div>
<!--/row-->

{% endblock %}




