{% extends "rango/base.html" %}

{% block title %}Shows{% endblock %}

{% block body_block %}

<div class="hero-unit">
    <h1>Shows</h1>

</br>

    <div id="pages">
    {% if show_list %}

    <ol>
        {% for show in show_list %}
        <li>
            <strong id="added_count">
            <button id ="add" data-showid="{{show.id}}" class="btn btn-info btn-small"><i class="icon-white icon-thumbs-up"></i> Follow</button>
            <a href="/rango/show/{{ show.url}}">{{show.show_name}}</a>
            {% if show.added > 1 %}
                - ({{ show.added }} followers)
            {% endif %}
            </strong>
        </li>
        {% endfor %}
    </ol>
    {% else %}
    <strong>Sorry, no shows are currently available in our database.</strong><br/>
    {% endif %}

    </div>

</div>


{% endblock %}
