{% if up %}
<ol>
                {% for show in show_list %}
                <li>
                    <strong>
                    {% if show in user_show_list %}
                        <button class="remove_show btn btn-success btn-small" data-showid="{{ show.id }}"><i class="icon-black icon-ok"></i> Following</button>
                    {% else %}
                        <button class="rango-add btn btn-primary btn-small" data-showid="{{ show.id }}"><i class="icon-white icon-thumbs-up"></i> Follow</button>
                    {% endif %}
                        <a href="/rango/show/{{ show.url }}">{{show.show_name}}</a>
                    {% if show.added > 1 %}
                        - ({{ show.added }} followers)
                    {% endif %}
                    </strong>
                </li>
                {% endfor %}
            </ol>
<br/>
{% endif %}