{% if user_show_list %}
        <ol>
            {% for show in user_show_list %}
            <li>
                <strong>
                <button class="rango-remove btn btn-danger btn-small" data-showid="{{ show.id }}"><i class="icon-black icon-remove"></i> Remove</button>
                <a href="/rango/show/{{ show.url }}">{{show.show_name}}</a>
                {% if show.added > 1 %}
                    - ({{ show.added }} followers)
                {% endif %}
                </strong>
            </li>
            {% endfor %}
        </ol>
        {% else %}
        <strong>
            You currently don't follow any shows! Select some <a href="/rango/shows_list">awesome shows</a> and start following!
        </strong>
        <br/>
        {% endif %}